* {
  font-family: Roboto, Arial, Geneva, Helvetica, sans-serif;
}

.container {
  position: relative;
  height: 60%;
  width: 45%;
  top: 20vh;
  border: solid 3px red;
  overflow: auto;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 1%;
}

.startQuiz {
  width: 200px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  height: 40px;
  text-align: center;
  border: none;
  background-size: 300% 100%;

  border-radius: 50px;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.startQuiz:hover {
  background-position: 100% 0;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.startQuiz:focus {
  outline: none;
}

.startQuiz {
  background-image: linear-gradient(to right, #f5ce62, #e43603, #fa7199, #e85a19);
  box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);
}

.timer {
  position: absolute;
  bottom: 4%;
  right: 2%;
  color: white;
  background-color: #fa7199;
  border-radius: 20px;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 1%;
  padding-bottom: 1%;

}

li {
  display: flex;
  list-style-type: none;
  cursor: pointer;
  color: #fff;
  background-image: linear-gradient(to right, #f5ce62, #e43603, #fa7199, #e85a19);
  box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);
  border-radius: 25px;
  padding: 1%;
  margin: 3%;
  width: 25%;
  justify-content: center;
  margin-left: 34%;
  margin-right: 55%;
  margin-top: 3%;
  background-color: white;
}

.questions {
  position: relative;
  font-weight: bold;
  font-size: large;
}

.answerResult {
  margin-left: auto;
  margin-right: auto;
}

.hidden {
  display: none;
}

.score-input-wrapper {
  display: none;
}

.score-input-wrapper.visible {
  display: block;
}